# **CLEANING.**

## **Importación de librerías.**

In [6]:
import pandas as pd

## **Carga de Dataframes.**

In [7]:
prod = pd.read_csv('../data/productos.csv')
subcat = pd.read_csv('../data/subcategorias.csv')
cat = pd.read_csv('../data/categorias.csv')

In [8]:
prod

                                 producto
0                     Plátano de Canarias
1                                  Banana
2                           Plátano macho
3                 Uva blanca sin semillas
4                   Uva roja sin semillas
..                                    ...
171    Mix de verduras paisana para micro
172               Sopa juliana para micro
173                     Patata para micro
174                     Batata para micro
175  Mix de verduras jardinera para micro

[176 rows x 1 columns]

In [9]:
subcat

                   subcategoria
0                 Plátano y uva
1                Manzana y pera
2                Melón y sandía
3                      Cítricos
4                Fruta tropical
5                  Otras frutas
6                       Lechuga
7            Ensalada preparada
8                        Patata
9                 Cebolla y ajo
10                       Tomate
11           Pepino y zanahoria
12         Calabacín y pimiento
13                Repollo y col
14          Setas y champiñones
15           Hierbas aromáticas
16  Otras verduras y hortalizas
17            Verduras al vapor

In [10]:
cat

                      categoria
0                         Fruta
1  Lechuga y ensalada preparada
2                       Verdura

## **Transformación.**

### **Añadimos las columnas de IDs correspondientes, para posteriormente generar la relación entre DataFrames.**