# **MERCADONA TRANSFORM.**

## **Importación de librerías.**

In [1]:
import pandas as pd

## **Carga de datos.**

### **Productos.**

In [2]:
fruta_df = pd.read_csv('../data/frutas.csv')
ensalada_df = pd.read_csv('../data/ensaladas.csv')
verdura_df = pd.read_csv('../data/verduras.csv')

### **Subcategorías.**

In [3]:
sub_fruta_df = pd.read_csv('../data/sub_frutas.csv')
sub_ensalada_df = pd.read_csv('../data/sub_ensaladas.csv')
sub_verdura_df = pd.read_csv('../data/sub_verduras.csv')

### **Categorías.**

In [4]:
cat_fruta_df = pd.read_csv('../data/cat_frutas.csv')
cat_ensalada_df = pd.read_csv('../data/cat_ensaladas.csv')
cat_verdura_df = pd.read_csv('../data/cat_verduras.csv')

In [5]:
fruta_tam_df = pd.read_csv('../data/frutas_tamaño.csv')

## **Transformación.**

### **Tabla de Categorías.**

In [6]:
cat_fruta_df

  categoria
0     Fruta

In [7]:
cat_ensalada_df

                      categoria
0  Lechuga y ensalada preparada

In [8]:
cat_verdura_df

  categoria
0   Verdura

In [9]:
# crear una tabla conjunta de todas las categorias
cat_df = pd.concat([cat_fruta_df, cat_ensalada_df, cat_verdura_df])

#reseteamos el indice
cat_df = cat_df.reset_index(drop=True)

cat_df

                      categoria
0                         Fruta
1  Lechuga y ensalada preparada
2                       Verdura

In [10]:
# insertar una columna de IDs llamada "categoria_id", para realizar la correspondiente relacion en la base de datos como "PRIMARY KEYS"
cat_df.insert(0, 'categoria_id', range(1, len(cat_df)+1))

cat_df

   categoria_id                     categoria
0             1                         Fruta
1             2  Lechuga y ensalada preparada
2             3                       Verdura

### **Tabla de Subcategorías.**

In [11]:
sub_fruta_df

     subcategoria
0   Plátano y uva
1  Manzana y pera
2  Melón y sandía
3        Cítricos
4  Fruta tropical
5    Otras frutas

In [12]:
# crear e insertar la columna de IDs "categoria_id", para realizar la correspondiente relacion en la base de datos como "FOREIGN KEYS"
sub_fruta_df['categoria_id'] = 1

sub_fruta_df

     subcategoria  categoria_id
0   Plátano y uva             1
1  Manzana y pera             1
2  Melón y sandía             1
3        Cítricos             1
4  Fruta tropical             1
5    Otras frutas             1

In [13]:
sub_ensalada_df

         subcategoria
0             Lechuga
1  Ensalada preparada

In [14]:
# crear e insertar la columna de IDs "categoria_id", para realizar la correspondiente relacion en la base de datos como "FOREIGN KEYS"
sub_ensalada_df['categoria_id'] = 2

sub_ensalada_df

         subcategoria  categoria_id
0             Lechuga             2
1  Ensalada preparada             2

In [15]:
sub_verdura_df

                  subcategoria
0                       Patata
1                Cebolla y ajo
2                       Tomate
3           Pepino y zanahoria
4         Calabacín y pimiento
5                Repollo y col
6          Setas y champiñones
7           Hierbas aromáticas
8  Otras verduras y hortalizas
9            Verduras al vapor

In [16]:
# crear e insertar la columna de IDs "categoria_id", para realizar la correspondiente relacion en la base de datos como "FOREIGN KEYS"
sub_verdura_df['categoria_id'] = 3

sub_verdura_df

                  subcategoria  categoria_id
0                       Patata             3
1                Cebolla y ajo             3
2                       Tomate             3
3           Pepino y zanahoria             3
4         Calabacín y pimiento             3
5                Repollo y col             3
6          Setas y champiñones             3
7           Hierbas aromáticas             3
8  Otras verduras y hortalizas             3
9            Verduras al vapor             3

In [17]:
# crear una tabla conjunta de todas las subcategorias
sub_df = pd.concat([sub_fruta_df, sub_ensalada_df, sub_verdura_df])

#reseteamos el indice
sub_df = sub_df.reset_index(drop=True)

sub_df

                   subcategoria  categoria_id
0                 Plátano y uva             1
1                Manzana y pera             1
2                Melón y sandía             1
3                      Cítricos             1
4                Fruta tropical             1
5                  Otras frutas             1
6                       Lechuga             2
7            Ensalada preparada             2
8                        Patata             3
9                 Cebolla y ajo             3
10                       Tomate             3
11           Pepino y zanahoria             3
12         Calabacín y pimiento             3
13                Repollo y col             3
14          Setas y champiñones             3
15           Hierbas aromáticas             3
16  Otras verduras y hortalizas             3
17            Verduras al vapor             3

In [18]:
# insertar una columna de IDs llamada "subcategoria_id", para realizar la correspondiente relacion en la base de datos como "PRIMARY KEYS"
sub_df.insert(0, 'subcategoria_id', range(1, len(sub_df)+1))

sub_df

    subcategoria_id                 subcategoria  categoria_id
0                 1                Plátano y uva             1
1                 2               Manzana y pera             1
2                 3               Melón y sandía             1
3                 4                     Cítricos             1
4                 5               Fruta tropical             1
5                 6                 Otras frutas             1
6                 7                      Lechuga             2
7                 8           Ensalada preparada             2
8                 9                       Patata             3
9                10                Cebolla y ajo             3
10               11                       Tomate             3
11               12           Pepino y zanahoria             3
12               13         Calabacín y pimiento             3
13               14                Repollo y col             3
14               15          Setas y champiñones             3
15               16           Hierbas aromáticas             3
16               17  Otras verduras y hortalizas             3
17               18            Verduras al vapor             3

### **Tabla de Productos.**

In [19]:
fruta_df

                         producto                   formato
0             Plátano de Canarias        Pieza 150 g aprox.
1                          Banana        Pieza 170 g aprox.
2                   Plátano macho        Pieza 340 g aprox.
3         Uva blanca sin semillas      Bandeja 500 g aprox.
4           Uva roja sin semillas      Bandeja 500 g aprox.
5                  Manzana Golden        Pieza 190 g aprox.
6                 Manzanas Golden       Bolsa 1,5 kg aprox.
7                Pera Conferencia        Pieza 160 g aprox.
8               Peras Conferencia             1,5 kg aprox.
9                   Pera Ercolina         Pieza 90 g aprox.
10           Manzana Granny Smith        Pieza 210 g aprox.
11                Manzana Evelina        Pieza 260 g aprox.
12                Manzana Evelina       Bolsa 1,5 kg aprox.
13                   Manzana Envy        Pieza 280 g aprox.
14                  Manzanas Envy       Bolsa 1,5 kg aprox.
15    1/4 Sandía baja en semillas  1/4 Pieza 1,33 kg aprox.
16  Media sandía baja en semillas  1/2 Pieza 2,56 kg aprox.
17        Sandía baja en semillas      Pieza 5,13 kg aprox.
18                        Limones                Malla 1 kg
19                          Limón        Pieza 210 g aprox.
20                      Mandarina        Pieza 170 g aprox.
21                      Mandarina                Malla 2 kg
22              Naranja para mesa        Pieza 380 g aprox.
23                       Naranjas                Malla 3 kg
24                       Naranjas                Malla 5 kg
25                         Pomelo        Pieza 350 g aprox.
26                          Limas              400 g aprox.
27                     Kiwi verde        Pieza 110 g aprox.
28                   Kiwis verdes               1 kg aprox.
29                       Aguacate        Pieza 190 g aprox.
30                      Aguacates              550 g aprox.
31                           Piña         Pieza 2 kg aprox.
32                     Media piña  1/2 Pieza 1,03 kg aprox.
33            Guacamole Hacendado             Tarrina 500 g
34            Guacamole Hacendado             Tarrina 200 g
35                          Mango        Pieza 500 g aprox.
36         Piña natural a rodajas         Bote 500 g aprox.
37                         Papaya      Pieza 1,27 kg aprox.
38                   Media papaya    1/2 Pieza 650 g aprox.
39                      Chirimoya        Pieza 370 g aprox.
40                         Fresón      Bandeja 500 g aprox.
41                     Frambuesas             Bandeja 170 g
42                        Níspero      Bandeja 500 g aprox.
43                          Moras             Bandeja 125 g
44                      Arándanos                Vaso 225 g
45                      Arándanos             Tarrina 500 g

In [20]:
# unir el DataFrame de "fruta_tam_df" con "fruta_df"
fruta_df = fruta_df.merge(fruta_tam_df, on='producto', how='left')

fruta_df

                         producto                   formato  ancho  alto
0             Plátano de Canarias        Pieza 150 g aprox.    NaN   NaN
1                          Banana        Pieza 170 g aprox.    NaN   NaN
2                   Plátano macho        Pieza 340 g aprox.    NaN   NaN
3         Uva blanca sin semillas      Bandeja 500 g aprox.    NaN   NaN
4           Uva roja sin semillas      Bandeja 500 g aprox.    NaN   NaN
5                  Manzana Golden        Pieza 190 g aprox.    7.5   7.4
6                 Manzanas Golden       Bolsa 1,5 kg aprox.    NaN   NaN
7                Pera Conferencia        Pieza 160 g aprox.    NaN   NaN
8               Peras Conferencia             1,5 kg aprox.    NaN   NaN
9                   Pera Ercolina         Pieza 90 g aprox.    NaN   NaN
10           Manzana Granny Smith        Pieza 210 g aprox.    7.9   7.1
11                Manzana Evelina        Pieza 260 g aprox.    NaN   NaN
12                Manzana Evelina       Bolsa 1,5 kg aprox.    NaN   NaN
13                   Manzana Envy        Pieza 280 g aprox.    NaN   NaN
14                  Manzanas Envy       Bolsa 1,5 kg aprox.    NaN   NaN
15    1/4 Sandía baja en semillas  1/4 Pieza 1,33 kg aprox.    NaN   NaN
16  Media sandía baja en semillas  1/2 Pieza 2,56 kg aprox.    NaN   NaN
17        Sandía baja en semillas      Pieza 5,13 kg aprox.    NaN   NaN
18                        Limones                Malla 1 kg    NaN   NaN
19                          Limón        Pieza 210 g aprox.    7.3  10.0
20                      Mandarina        Pieza 170 g aprox.    5.9   4.4
21                      Mandarina                Malla 2 kg    5.9   4.4
22              Naranja para mesa        Pieza 380 g aprox.    7.2   7.7
23                       Naranjas                Malla 3 kg    NaN   NaN
24                       Naranjas                Malla 5 kg    NaN   NaN
25                         Pomelo        Pieza 350 g aprox.    NaN   NaN
26                          Limas              400 g aprox.    NaN   NaN
27                     Kiwi verde        Pieza 110 g aprox.    NaN   NaN
28                   Kiwis verdes               1 kg aprox.    NaN   NaN
29                       Aguacate        Pieza 190 g aprox.    NaN   NaN
30                      Aguacates              550 g aprox.    NaN   NaN
31                           Piña         Pieza 2 kg aprox.    NaN   NaN
32                     Media piña  1/2 Pieza 1,03 kg aprox.    NaN   NaN
33            Guacamole Hacendado             Tarrina 500 g    NaN   NaN
34            Guacamole Hacendado             Tarrina 200 g    NaN   NaN
35                          Mango        Pieza 500 g aprox.    NaN   NaN
36         Piña natural a rodajas         Bote 500 g aprox.    NaN   NaN
37                         Papaya      Pieza 1,27 kg aprox.    NaN   NaN
38                   Media papaya    1/2 Pieza 650 g aprox.    NaN   NaN
39                      Chirimoya        Pieza 370 g aprox.    NaN   NaN
40                         Fresón      Bandeja 500 g aprox.    NaN   NaN
41                     Frambuesas             Bandeja 170 g    NaN   NaN
42                        Níspero      Bandeja 500 g aprox.    NaN   NaN
43                          Moras             Bandeja 125 g    NaN   NaN
44                      Arándanos                Vaso 225 g    NaN   NaN
45                      Arándanos             Tarrina 500 g    NaN   NaN

In [21]:
# crear e insertar dos columnas de IDs, "subcategoria_id" y "categoria_id", para realizar la correspondiente relacion en la base de datos como "FOREIGN KEYS"
# crear una lista con los valores de "subcategoria_id"
subcat_id = [1]*5 + [2]*10 + [3]*3 + [4]*9 + [5]*13 + [6]*(len(fruta_df)-40)

# insertar la columna en el dataframe
fruta_df.insert(loc=2, column='subcategoria_id', value=subcat_id)

fruta_df['categoria_id'] = 1

fruta_df

,producto,formato,subcategoria_id,ancho,alto,categoria_id
0,Plátano de Canarias,Pieza 150 g aprox.,1,NaN,NaN,1
1,Banana,Pieza 170 g aprox.,1,NaN,NaN,1
2,Plátano macho,Pieza 340 g aprox.,1,NaN,NaN,1
3,Uva blanca sin semillas,Bandeja 500 g aprox.,1,NaN,NaN,1
4,Uva roja sin semillas,Bandeja 500 g aprox.,1,NaN,NaN,1
5,Manzana Golden,Pieza 190 g aprox.,2,7.5,7.4,1
6,Manzanas Golden,"Bolsa 1,5 kg aprox.",2,NaN,NaN,1
7,Pera Conferencia,Pieza 160 g aprox.,2,NaN,NaN,1
8,Peras Conferencia,"1,5 kg aprox.",2,NaN,NaN,1
9,Pera Ercolina,Pieza 90 g aprox.,2,NaN,NaN,1
10,Manzana Granny Smith,Pieza 210 g aprox.,2,7.9,7.1,1
11,Manzana Evelina,Pieza 260 g aprox.,2,NaN,NaN,1
12,Manzana Evelina,"Bolsa 1,5 kg aprox.",2,NaN,NaN,1
13,Manzana Envy,Pieza 280 g aprox.,2,NaN,NaN,1
14,Manzanas Envy,"Bolsa 1,5 kg aprox.",2,NaN,NaN,1
15,1/4 Sandía baja en semillas,"1/4 Pieza 1,33 kg aprox.",3,NaN,NaN,1
16,Media sandía baja en semillas,"1/2 Pieza 2,56 kg aprox.",3,NaN,NaN,1
17,Sandía baja en semillas,"Pieza 5,13 kg aprox.",3,NaN,NaN,1
18,Limones,Malla 1 kg,4,NaN,NaN,1
19,Limón,Pieza 210 g aprox.,4,7.3,10.0,1
20,Mandarina,Pieza 170 g aprox.,4,5.9,4.4,1
21,Mandarina,Malla 2 kg,4,5.9,4.4,1
22,Naranja para mesa,Pieza 380 g aprox.,4,7.2,7.7,1
23,Naranjas,Malla 3 kg,4,NaN,NaN,1
24,Naranjas,Malla 5 kg,4,NaN,NaN,1
25,Pomelo,Pieza 350 g aprox.,4,NaN,NaN,1
26,Limas,400 g aprox.,4,NaN,NaN,1
27,Kiwi verde,Pieza 110 g aprox.,5,NaN,NaN,1
28,Kiwis verdes,1 kg aprox.,5,NaN,NaN,1
29,Aguacate,Pieza 190 g aprox.,5,NaN,NaN,1
30,Aguacates,550 g aprox.,5,NaN,NaN,1
31,Piña,Pieza 2 kg aprox.,5,NaN,NaN,1
32,Media piña,"1/2 Pieza 1,03 kg aprox.",5,NaN,NaN,1
33,Guacamole Hacendado,Tarrina 500 g,5,NaN,NaN,1
34,Guacamole Hacendado,Tarrina 200 g,5,NaN,NaN,1
35,Mango,Pieza 500 g aprox.,5,NaN,NaN,1
36,Piña natural a rodajas,Bote 500 g aprox.,5,NaN,NaN,1
37,Papaya,"Pieza 1,27 kg aprox.",5,NaN,NaN,1
38,Media papaya,1/2 Pieza 650 g aprox.,5,NaN,NaN,1
39,Chirimoya,Pieza 370 g aprox.,5,NaN,NaN,1
40,Fresón,Bandeja 500 g aprox.,6,NaN,NaN,1
41,Frambuesas,Bandeja 170 g,6,NaN,NaN,1
42,Níspero,Bandeja 500 g aprox.,6,NaN,NaN,1
43,Moras,Bandeja 125 g,6,NaN,NaN,1
44,Arándanos,Vaso 225 g,6,NaN,NaN,1
45,Arándanos,Tarrina 500 g,6,NaN,NaN,1

In [22]:
ensalada_df

                                  producto        formato
0                          Lechuga iceberg    Pieza 1 ud.
1             Ensalada mezcla 4 estaciones  Paquete 250 g
2                  Lechugas corazón romana  Paquete 2 ud.
3           Ensalada mezcla brotes tiernos  Paquete 100 g
4             Canónigos base para ensalada  Paquete 125 g
5       Lechuga iceberg base para ensalada  Paquete 250 g
6                  Ensalada mezcla gourmet  Paquete 175 g
7                      Cogollos de lechuga  Paquete 3 ud.
8                   Lechuga corazón romana  Paquete 1 ud.
9                                 Endibias  Bandeja 450 g
10     Ensalada mezcla brotes tiernos maxi  Paquete 175 g
11            Ensalada mezcla gourmet maxi  Paquete 300 g
12                  Ensalada mezcla tierna  Paquete 150 g
13               Rúcula base para ensalada   Paquete 50 g
14             Cogollos corazón de lechuga  Paquete 6 ud.
15               Ensalada mezcla primavera  Paquete 200 g
16  Ensalada mezcla dúo canónigos y rúcula  Paquete 100 g
17                  Ensalada mezcla fresca  Paquete 200 g
18                      Lechuga hoja roble  Paquete 1 ud.
19      Escarola rizada base para ensalada  Paquete 150 g
20                         Escarola rizada  Paquete 1 ud.
21        Espinaca baby base para ensalada  Paquete 100 g
22                  Lechuga romana cortada  Paquete 200 g
23                          Ensalada César      Bol 210 g
24                     Ensalada California      Bol 192 g
25                             Wraps Texas      Bol 300 g
26                     Ensalada de la casa      Bol 400 g
27                      Ensalada mil islas      Bol 330 g
28                        Ensalada ensatún      Bol 250 g
29                          Ensalada jamón      Bol 215 g
30                       Ensalada de pasta      Bol 250 g
31                 Ensalada queso de cabra      Bol 135 g
32      Ensalada de pasta Listo para Comer      Bol 340 g

In [23]:
# crear e insertar dos columnas de IDs, "subcategoria_id" y "categoria_id", para realizar la correspondiente relacion en la base de datos como "FOREIGN KEYS"
# crear una lista con los valores de "subcategoria_id"
subcat_id = [7]*23 + [8]*(len(ensalada_df)-23)

# insertar la columna en el dataframe
ensalada_df.insert(loc=2, column='subcategoria_id', value=subcat_id)

ensalada_df['categoria_id'] = 2

ensalada_df

,producto,formato,subcategoria_id,categoria_id
0,Lechuga iceberg,Pieza 1 ud.,7,2
1,Ensalada mezcla 4 estaciones,Paquete 250 g,7,2
2,Lechugas corazón romana,Paquete 2 ud.,7,2
3,Ensalada mezcla brotes tiernos,Paquete 100 g,7,2
4,Canónigos base para ensalada,Paquete 125 g,7,2
5,Lechuga iceberg base para ensalada,Paquete 250 g,7,2
6,Ensalada mezcla gourmet,Paquete 175 g,7,2
7,Cogollos de lechuga,Paquete 3 ud.,7,2
8,Lechuga corazón romana,Paquete 1 ud.,7,2
9,Endibias,Bandeja 450 g,7,2
10,Ensalada mezcla brotes tiernos maxi,Paquete 175 g,7,2
11,Ensalada mezcla gourmet maxi,Paquete 300 g,7,2
12,Ensalada mezcla tierna,Paquete 150 g,7,2
13,Rúcula base para ensalada,Paquete 50 g,7,2
14,Cogollos corazón de lechuga,Paquete 6 ud.,7,2
15,Ensalada mezcla primavera,Paquete 200 g,7,2
16,Ensalada mezcla dúo canónigos y rúcula,Paquete 100 g,7,2
17,Ensalada mezcla fresca,Paquete 200 g,7,2
18,Lechuga hoja roble,Paquete 1 ud.,7,2
19,Escarola rizada base para ensalada,Paquete 150 g,7,2
20,Escarola rizada,Paquete 1 ud.,7,2
21,Espinaca baby base para ensalada,Paquete 100 g,7,2
22,Lechuga romana cortada,Paquete 200 g,7,2
23,Ensalada César,Bol 210 g,8,2
24,Ensalada California,Bol 192 g,8,2
25,Wraps Texas,Bol 300 g,8,2
26,Ensalada de la casa,Bol 400 g,8,2
27,Ensalada mil islas,Bol 330 g,8,2
28,Ensalada ensatún,Bol 250 g,8,2
29,Ensalada jamón,Bol 215 g,8,2
30,Ensalada de pasta,Bol 250 g,8,2
31,Ensalada queso de cabra,Bol 135 g,8,2
32,Ensalada de pasta Listo para Comer,Bol 340 g,8,2

In [24]:
verdura_df

                                producto             formato
0                                 Patata  Pieza 220 g aprox.
1                                Patatas          Malla 3 kg
2                          Patatas rojas          Malla 2 kg
3                                Patatas          Malla 5 kg
4                     Patatas guarnición          Malla 1 kg
..                                   ...                 ...
93    Mix de verduras paisana para micro       Paquete 300 g
94               Sopa juliana para micro       Paquete 400 g
95                     Patata para micro       Paquete 400 g
96                     Batata para micro       Paquete 400 g
97  Mix de verduras jardinera para micro       Paquete 400 g

[98 rows x 2 columns]

In [25]:
# crear e insertar dos columnas de IDs, "subcategoria_id" y "categoria_id", para realizar la correspondiente relacion en la base de datos como "FOREIGN KEYS"
# crear una lista con los valores de "subcategoria_id"
subcat_id = [9]*7 + [10]*11 + [11]*14 + [12]*7 + [13]*8 + [14]*7 + [15]*9 + [16]*6 + [17]*22 + [18]*(len(verdura_df)-91)

# insertar la columna en el dataframe
verdura_df.insert(loc=2, column='subcategoria_id', value=subcat_id)

verdura_df['categoria_id'] = 3

verdura_df

,producto,formato,subcategoria_id,categoria_id
0,Patata,Pieza 220 g aprox.,9,3
1,Patatas,Malla 3 kg,9,3
2,Patatas rojas,Malla 2 kg,9,3
3,Patatas,Malla 5 kg,9,3
4,Patatas guarnición,Malla 1 kg,9,3
...,...,...,...,...
93,Mix de verduras paisana para micro,Paquete 300 g,18,3
94,Sopa juliana para micro,Paquete 400 g,18,3
95,Patata para micro,Paquete 400 g,18,3
96,Batata para micro,Paquete 400 g,18,3
97,Mix de verduras jardinera para micro,Paquete 400 g,18,3

In [28]:
# crear una tabla conjunta de todos los productos
prod_df = pd.concat([fruta_df, ensalada_df, verdura_df])

# cambiar valores nulos "NaN" por "desconocido"
prod_df = prod_df.fillna('desconocido')

#reseteamos el indice
prod_df = prod_df.reset_index(drop=True)

prod_df

,producto,formato,subcategoria_id,ancho,alto,categoria_id
0,Plátano de Canarias,Pieza 150 g aprox.,1,desconocido,desconocido,1
1,Banana,Pieza 170 g aprox.,1,desconocido,desconocido,1
2,Plátano macho,Pieza 340 g aprox.,1,desconocido,desconocido,1
3,Uva blanca sin semillas,Bandeja 500 g aprox.,1,desconocido,desconocido,1
4,Uva roja sin semillas,Bandeja 500 g aprox.,1,desconocido,desconocido,1
...,...,...,...,...,...,...
172,Mix de verduras paisana para micro,Paquete 300 g,18,desconocido,desconocido,3
173,Sopa juliana para micro,Paquete 400 g,18,desconocido,desconocido,3
174,Patata para micro,Paquete 400 g,18,desconocido,desconocido,3
175,Batata para micro,Paquete 400 g,18,desconocido,desconocido,3
176,Mix de verduras jardinera para micro,Paquete 400 g,18,desconocido,desconocido,3

In [29]:
# columnas en el orden deseado
colum_orden = ['producto', 'formato', 'ancho', 'alto', 'subcategoria_id', 'categoria_id']

# reordenar las columnas
prod_df = prod_df.reindex(columns=colum_orden)

prod_df

,producto,formato,ancho,alto,subcategoria_id,categoria_id
0,Plátano de Canarias,Pieza 150 g aprox.,desconocido,desconocido,1,1
1,Banana,Pieza 170 g aprox.,desconocido,desconocido,1,1
2,Plátano macho,Pieza 340 g aprox.,desconocido,desconocido,1,1
3,Uva blanca sin semillas,Bandeja 500 g aprox.,desconocido,desconocido,1,1
4,Uva roja sin semillas,Bandeja 500 g aprox.,desconocido,desconocido,1,1
...,...,...,...,...,...,...
172,Mix de verduras paisana para micro,Paquete 300 g,desconocido,desconocido,18,3
173,Sopa juliana para micro,Paquete 400 g,desconocido,desconocido,18,3
174,Patata para micro,Paquete 400 g,desconocido,desconocido,18,3
175,Batata para micro,Paquete 400 g,desconocido,desconocido,18,3
176,Mix de verduras jardinera para micro,Paquete 400 g,desconocido,desconocido,18,3

In [30]:
# insertar una columna de IDs llamada "producto_id", para realizar la correspondiente relacion en la base de datos como "PRIMARY KEYS"
prod_df.insert(0, 'producto_id', range(1, len(prod_df)+1))

prod_df

,producto_id,producto,formato,ancho,alto,subcategoria_id,categoria_id
0,1,Plátano de Canarias,Pieza 150 g aprox.,desconocido,desconocido,1,1
1,2,Banana,Pieza 170 g aprox.,desconocido,desconocido,1,1
2,3,Plátano macho,Pieza 340 g aprox.,desconocido,desconocido,1,1
3,4,Uva blanca sin semillas,Bandeja 500 g aprox.,desconocido,desconocido,1,1
4,5,Uva roja sin semillas,Bandeja 500 g aprox.,desconocido,desconocido,1,1
...,...,...,...,...,...,...,...
172,173,Mix de verduras paisana para micro,Paquete 300 g,desconocido,desconocido,18,3
173,174,Sopa juliana para micro,Paquete 400 g,desconocido,desconocido,18,3
174,175,Patata para micro,Paquete 400 g,desconocido,desconocido,18,3
175,176,Batata para micro,Paquete 400 g,desconocido,desconocido,18,3
176,177,Mix de verduras jardinera para micro,Paquete 400 g,desconocido,desconocido,18,3

## **Exportación de DataFrames.**

In [31]:
# exportar los DataFrames limpios y transformados a ".csv"
cat_df.to_csv('../data/categorias.csv', index=False)

sub_df.to_csv('../data/subcategorias.csv', index=False)

prod_df.to_csv('../data/productos.csv', index=False)