# **MERCADONA TRANSFORM.**

## **Importación de librerías.**

In [1]:
import pandas as pd

## **Carga de archivos.**

In [2]:
fruta_df = pd.read_csv('../data/frutas.csv')
ensalada_df = pd.read_csv('../data/ensaladas.csv')
verdura_df = pd.read_csv('../data/verduras.csv')

In [3]:
sub_fruta_df = pd.read_csv('../data/sub_frutas.csv')
sub_ensalada_df = pd.read_csv('../data/sub_ensaladas.csv')
sub_verdura_df = pd.read_csv('../data/sub_verduras.csv')

In [4]:
cat_fruta_df = pd.read_csv('../data/cat_frutas.csv')
cat_ensalada_df = pd.read_csv('../data/cat_ensaladas.csv')
cat_verdura_df = pd.read_csv('../data/cat_verduras.csv')

## **Transformación.**

### **Tabla de Productos.**

In [5]:
fruta_df

                         producto                   formato
0             Plátano de Canarias        Pieza 150 g aprox.
1                          Banana        Pieza 170 g aprox.
2                   Plátano macho        Pieza 340 g aprox.
3         Uva blanca sin semillas      Bandeja 500 g aprox.
4           Uva roja sin semillas      Bandeja 500 g aprox.
5                  Manzana Golden        Pieza 190 g aprox.
6                 Manzanas Golden       Bolsa 1,5 kg aprox.
7                Pera Conferencia        Pieza 160 g aprox.
8               Peras Conferencia             1,5 kg aprox.
9                   Pera Ercolina         Pieza 90 g aprox.
10           Manzana Granny Smith        Pieza 210 g aprox.
11                Manzana Evelina        Pieza 260 g aprox.
12                Manzana Evelina       Bolsa 1,5 kg aprox.
13                   Manzana Envy        Pieza 280 g aprox.
14                  Manzanas Envy       Bolsa 1,5 kg aprox.
15    1/4 Sandía baja en semillas  1/4 Pieza 1,33 kg aprox.
16  Media sandía baja en semillas  1/2 Pieza 2,56 kg aprox.
17        Sandía baja en semillas      Pieza 5,13 kg aprox.
18                        Limones                Malla 1 kg
19                          Limón        Pieza 210 g aprox.
20                      Mandarina        Pieza 170 g aprox.
21                      Mandarina                Malla 2 kg
22              Naranja para mesa        Pieza 380 g aprox.
23                       Naranjas                Malla 3 kg
24                       Naranjas                Malla 5 kg
25                         Pomelo        Pieza 350 g aprox.
26                          Limas              400 g aprox.
27                     Kiwi verde        Pieza 110 g aprox.
28                   Kiwis verdes               1 kg aprox.
29                       Aguacate        Pieza 190 g aprox.
30                      Aguacates              550 g aprox.
31                           Piña         Pieza 2 kg aprox.
32                     Media piña  1/2 Pieza 1,03 kg aprox.
33            Guacamole Hacendado             Tarrina 500 g
34            Guacamole Hacendado             Tarrina 200 g
35                          Mango        Pieza 500 g aprox.
36         Piña natural a rodajas         Bote 500 g aprox.
37                         Papaya      Pieza 1,27 kg aprox.
38                   Media papaya    1/2 Pieza 650 g aprox.
39                      Chirimoya        Pieza 370 g aprox.
40                         Fresón      Bandeja 500 g aprox.
41                     Frambuesas             Bandeja 170 g
42                        Níspero      Bandeja 500 g aprox.
43                          Moras             Bandeja 125 g
44                      Arándanos                Vaso 225 g
45                      Arándanos             Tarrina 500 g

In [6]:
ensalada_df

                                  producto        formato
0                          Lechuga iceberg    Pieza 1 ud.
1             Ensalada mezcla 4 estaciones  Paquete 250 g
2                  Lechugas corazón romana  Paquete 2 ud.
3           Ensalada mezcla brotes tiernos  Paquete 100 g
4             Canónigos base para ensalada  Paquete 125 g
5       Lechuga iceberg base para ensalada  Paquete 250 g
6                  Ensalada mezcla gourmet  Paquete 175 g
7                      Cogollos de lechuga  Paquete 3 ud.
8                   Lechuga corazón romana  Paquete 1 ud.
9                                 Endibias  Bandeja 450 g
10     Ensalada mezcla brotes tiernos maxi  Paquete 175 g
11            Ensalada mezcla gourmet maxi  Paquete 300 g
12                  Ensalada mezcla tierna  Paquete 150 g
13               Rúcula base para ensalada   Paquete 50 g
14             Cogollos corazón de lechuga  Paquete 6 ud.
15               Ensalada mezcla primavera  Paquete 200 g
16  Ensalada mezcla dúo canónigos y rúcula  Paquete 100 g
17                  Ensalada mezcla fresca  Paquete 200 g
18                      Lechuga hoja roble  Paquete 1 ud.
19      Escarola rizada base para ensalada  Paquete 150 g
20                         Escarola rizada  Paquete 1 ud.
21        Espinaca baby base para ensalada  Paquete 100 g
22                  Lechuga romana cortada  Paquete 200 g
23                          Ensalada César      Bol 210 g
24                     Ensalada California      Bol 192 g
25                             Wraps Texas      Bol 300 g
26                     Ensalada de la casa      Bol 400 g
27                      Ensalada mil islas      Bol 330 g
28                        Ensalada ensatún      Bol 250 g
29                          Ensalada jamón      Bol 215 g
30                       Ensalada de pasta      Bol 250 g
31                 Ensalada queso de cabra      Bol 135 g
32      Ensalada de pasta Listo para Comer      Bol 340 g

In [7]:
verdura_df

                                producto             formato
0                                 Patata  Pieza 220 g aprox.
1                                Patatas          Malla 3 kg
2                          Patatas rojas          Malla 2 kg
3                                Patatas          Malla 5 kg
4                     Patatas guarnición          Malla 1 kg
..                                   ...                 ...
93    Mix de verduras paisana para micro       Paquete 300 g
94               Sopa juliana para micro       Paquete 400 g
95                     Patata para micro       Paquete 400 g
96                     Batata para micro       Paquete 400 g
97  Mix de verduras jardinera para micro       Paquete 400 g

[98 rows x 2 columns]

In [8]:
# crear una tabla conjunta de todos los productos
prod_df = pd.concat([fruta_df, ensalada_df, verdura_df])

#reseteamos el indice
prod_df = prod_df.reset_index(drop=True)

prod_df

                                 producto               formato
0                     Plátano de Canarias    Pieza 150 g aprox.
1                                  Banana    Pieza 170 g aprox.
2                           Plátano macho    Pieza 340 g aprox.
3                 Uva blanca sin semillas  Bandeja 500 g aprox.
4                   Uva roja sin semillas  Bandeja 500 g aprox.
..                                    ...                   ...
172    Mix de verduras paisana para micro         Paquete 300 g
173               Sopa juliana para micro         Paquete 400 g
174                     Patata para micro         Paquete 400 g
175                     Batata para micro         Paquete 400 g
176  Mix de verduras jardinera para micro         Paquete 400 g

[177 rows x 2 columns]

In [9]:
# insertar una columna de IDs llamada "producto_id", para realizar la correspondiente relacion en la base de datos como "PRIMARY KEYS"
prod_df.insert(0, 'producto_id', range(1, len(prod_df)+1))

prod_df

     producto_id                              producto               formato
0              1                   Plátano de Canarias    Pieza 150 g aprox.
1              2                                Banana    Pieza 170 g aprox.
2              3                         Plátano macho    Pieza 340 g aprox.
3              4               Uva blanca sin semillas  Bandeja 500 g aprox.
4              5                 Uva roja sin semillas  Bandeja 500 g aprox.
..           ...                                   ...                   ...
172          173    Mix de verduras paisana para micro         Paquete 300 g
173          174               Sopa juliana para micro         Paquete 400 g
174          175                     Patata para micro         Paquete 400 g
175          176                     Batata para micro         Paquete 400 g
176          177  Mix de verduras jardinera para micro         Paquete 400 g

[177 rows x 3 columns]

In [ ]:
# crear e insertar dos columnas de IDs, "subcategoria_id" y "categoria_id", para realizar la correspondiente relacion en la base de datos como "FOREIGN KEYS"

### **Tabla de Subcategorías.**

In [10]:
sub_fruta_df

     subcategoria
0   Plátano y uva
1  Manzana y pera
2  Melón y sandía
3        Cítricos
4  Fruta tropical
5    Otras frutas

In [11]:
sub_ensalada_df

         subcategoria
0             Lechuga
1  Ensalada preparada

In [12]:
sub_verdura_df

                  subcategoria
0                       Patata
1                Cebolla y ajo
2                       Tomate
3           Pepino y zanahoria
4         Calabacín y pimiento
5                Repollo y col
6          Setas y champiñones
7           Hierbas aromáticas
8  Otras verduras y hortalizas
9            Verduras al vapor

In [13]:
# crear una tabla conjunta de todas las subcategorias
sub_df = pd.concat([sub_fruta_df, sub_ensalada_df, sub_verdura_df])

#reseteamos el indice
sub_df = sub_df.reset_index(drop=True)

sub_df

                   subcategoria
0                 Plátano y uva
1                Manzana y pera
2                Melón y sandía
3                      Cítricos
4                Fruta tropical
5                  Otras frutas
6                       Lechuga
7            Ensalada preparada
8                        Patata
9                 Cebolla y ajo
10                       Tomate
11           Pepino y zanahoria
12         Calabacín y pimiento
13                Repollo y col
14          Setas y champiñones
15           Hierbas aromáticas
16  Otras verduras y hortalizas
17            Verduras al vapor

In [14]:
# insertar una columna de IDs llamada "subcategoria_id", para realizar la correspondiente relacion en la base de datos como "PRIMARY KEYS"
sub_df.insert(0, 'subcategoria_id', range(1, len(sub_df)+1))

sub_df

    subcategoria_id                 subcategoria
0                 1                Plátano y uva
1                 2               Manzana y pera
2                 3               Melón y sandía
3                 4                     Cítricos
4                 5               Fruta tropical
5                 6                 Otras frutas
6                 7                      Lechuga
7                 8           Ensalada preparada
8                 9                       Patata
9                10                Cebolla y ajo
10               11                       Tomate
11               12           Pepino y zanahoria
12               13         Calabacín y pimiento
13               14                Repollo y col
14               15          Setas y champiñones
15               16           Hierbas aromáticas
16               17  Otras verduras y hortalizas
17               18            Verduras al vapor

In [15]:
# crear e insertar la columna de IDs "categoria_id", para realizar la correspondiente relacion en la base de datos como "FOREIGN KEYS"

### **Tabla de Categorías.**

In [16]:
cat_fruta_df

  categoria
0     Fruta

In [17]:
cat_ensalada_df

                      categoria
0  Lechuga y ensalada preparada

In [18]:
cat_verdura_df

  categoria
0   Verdura

In [19]:
# crear una tabla conjunta de todas las categorias
cat_df = pd.concat([cat_fruta_df, cat_ensalada_df, cat_verdura_df])

#reseteamos el indice
cat_df = cat_df.reset_index(drop=True)

cat_df

                      categoria
0                         Fruta
1  Lechuga y ensalada preparada
2                       Verdura

In [20]:
# insertar una columna de IDs llamada "categoria_id", para realizar la correspondiente relacion en la base de datos como "PRIMARY KEYS"
cat_df.insert(0, 'categoria_id', range(1, len(cat_df)+1))

cat_df

   categoria_id                     categoria
0             1                         Fruta
1             2  Lechuga y ensalada preparada
2             3                       Verdura