# **CLEAN & TRANSFORM.**

## **Importación de librerías.**

In [1]:
import pandas as pd

## **Carga de Dataframes.**

In [2]:
fruta_df = pd.read_csv('../data/frutas.csv')
ensalada_df = pd.read_csv('../data/ensaladas.csv')
verdura_df = pd.read_csv('../data/verduras.csv')

In [3]:
sub_fruta_df = pd.read_csv('../data/sub_frutas.csv')
sub_ensalada_df = pd.read_csv('../data/sub_ensaladas.csv')
sub_verdura_df = pd.read_csv('../data/sub_verduras.csv')

In [4]:
cat_fruta_df = pd.read_csv('../data/cat_frutas.csv')
cat_ensalada_df = pd.read_csv('../data/cat_ensaladas.csv')
cat_verdura_df = pd.read_csv('../data/cat_verduras.csv')

## **Transformación.**

### **Tabla de Productos.**

In [5]:
fruta_df

                         producto
0             Plátano de Canarias
1                          Banana
2                   Plátano macho
3         Uva blanca sin semillas
4           Uva roja sin semillas
5                  Manzana Golden
6                 Manzanas Golden
7                Pera Conferencia
8               Peras Conferencia
9                   Pera Ercolina
10           Manzana Granny Smith
11                Manzana Evelina
12                Manzana Evelina
13                   Manzana Envy
14                  Manzanas Envy
15    1/4 Sandía baja en semillas
16  Media sandía baja en semillas
17        Sandía baja en semillas
18                        Limones
19                          Limón
20                      Mandarina
21                      Mandarina
22              Naranja para mesa
23                       Naranjas
24                       Naranjas
25                         Pomelo
26                          Limas
27                     Kiwi verde
28                   Kiwis verdes
29                       Aguacate
30                      Aguacates
31                           Piña
32                     Media piña
33            Guacamole Hacendado
34            Guacamole Hacendado
35                          Mango
36         Piña natural a rodajas
37                         Papaya
38                   Media papaya
39                      Chirimoya
40                         Fresón
41                     Frambuesas
42                        Níspero
43                          Moras
44                      Arándanos
45                      Arándanos

In [6]:
ensalada_df

                                  producto
0                          Lechuga iceberg
1             Ensalada mezcla 4 estaciones
2                  Lechugas corazón romana
3           Ensalada mezcla brotes tiernos
4             Canónigos base para ensalada
5       Lechuga iceberg base para ensalada
6                  Ensalada mezcla gourmet
7                      Cogollos de lechuga
8                   Lechuga corazón romana
9                                 Endibias
10     Ensalada mezcla brotes tiernos maxi
11            Ensalada mezcla gourmet maxi
12                  Ensalada mezcla tierna
13               Rúcula base para ensalada
14             Cogollos corazón de lechuga
15               Ensalada mezcla primavera
16  Ensalada mezcla dúo canónigos y rúcula
17                  Ensalada mezcla fresca
18                      Lechuga hoja roble
19      Escarola rizada base para ensalada
20                         Escarola rizada
21        Espinaca baby base para ensalada
22                  Lechuga romana cortada
23                          Ensalada César
24                     Ensalada California
25                             Wraps Texas
26                     Ensalada de la casa
27                      Ensalada mil islas
28                        Ensalada ensatún
29                          Ensalada jamón
30                       Ensalada de pasta
31                 Ensalada queso de cabra
32      Ensalada de pasta Listo para Comer

In [7]:
verdura_df

                                producto
0                                 Patata
1                                Patatas
2                          Patatas rojas
3                                Patatas
4                     Patatas guarnición
..                                   ...
93    Mix de verduras paisana para micro
94               Sopa juliana para micro
95                     Patata para micro
96                     Batata para micro
97  Mix de verduras jardinera para micro

[98 rows x 1 columns]

In [8]:
# crear una tabla conjunta de todos los productos
prod_df = pd.concat([fruta_df, ensalada_df, verdura_df])

#reseteamos el indice
prod_df = prod_df.reset_index(drop=True)

prod_df

                                 producto
0                     Plátano de Canarias
1                                  Banana
2                           Plátano macho
3                 Uva blanca sin semillas
4                   Uva roja sin semillas
..                                    ...
172    Mix de verduras paisana para micro
173               Sopa juliana para micro
174                     Patata para micro
175                     Batata para micro
176  Mix de verduras jardinera para micro

[177 rows x 1 columns]

In [9]:
# insertamos una columna de IDs llamada "producto_id" como "PRIMARY KEYS"
prod_df.insert(0, 'producto_id', range(1, len(prod_df)+1))

prod_df

     producto_id                              producto
0              1                   Plátano de Canarias
1              2                                Banana
2              3                         Plátano macho
3              4               Uva blanca sin semillas
4              5                 Uva roja sin semillas
..           ...                                   ...
172          173    Mix de verduras paisana para micro
173          174               Sopa juliana para micro
174          175                     Patata para micro
175          176                     Batata para micro
176          177  Mix de verduras jardinera para micro

[177 rows x 2 columns]

In [ ]:
# insertamos dos columnas de IDs, "subcategoria_id" y "categoria_id", para realizar la correspondiente relación en la base de datos como "FOREIGN KEYS"

### **Tabla de Subcategorías.**

In [10]:
sub_fruta_df

     subcategoria
0   Plátano y uva
1  Manzana y pera
2  Melón y sandía
3        Cítricos
4  Fruta tropical
5    Otras frutas

In [11]:
sub_ensalada_df

         subcategoria
0             Lechuga
1  Ensalada preparada

In [12]:
sub_verdura_df

                  subcategoria
0                       Patata
1                Cebolla y ajo
2                       Tomate
3           Pepino y zanahoria
4         Calabacín y pimiento
5                Repollo y col
6          Setas y champiñones
7           Hierbas aromáticas
8  Otras verduras y hortalizas
9            Verduras al vapor

In [13]:
# crear una tabla conjunta de todas las subcategorias
sub_df = pd.concat([sub_fruta_df, sub_ensalada_df, sub_verdura_df])

#reseteamos el indice
sub_df = sub_df.reset_index(drop=True)

sub_df

                   subcategoria
0                 Plátano y uva
1                Manzana y pera
2                Melón y sandía
3                      Cítricos
4                Fruta tropical
5                  Otras frutas
6                       Lechuga
7            Ensalada preparada
8                        Patata
9                 Cebolla y ajo
10                       Tomate
11           Pepino y zanahoria
12         Calabacín y pimiento
13                Repollo y col
14          Setas y champiñones
15           Hierbas aromáticas
16  Otras verduras y hortalizas
17            Verduras al vapor

In [14]:
# insertamos una columna de IDs llamada "subcategoria_id" como "PRIMARY KEYS"
sub_df.insert(0, 'subcategoria_id', range(1, len(sub_df)+1))

sub_df

    subcategoria_id                 subcategoria
0                 1                Plátano y uva
1                 2               Manzana y pera
2                 3               Melón y sandía
3                 4                     Cítricos
4                 5               Fruta tropical
5                 6                 Otras frutas
6                 7                      Lechuga
7                 8           Ensalada preparada
8                 9                       Patata
9                10                Cebolla y ajo
10               11                       Tomate
11               12           Pepino y zanahoria
12               13         Calabacín y pimiento
13               14                Repollo y col
14               15          Setas y champiñones
15               16           Hierbas aromáticas
16               17  Otras verduras y hortalizas
17               18            Verduras al vapor

In [ ]:
# insertamos la columna de IDs "categoria_id", para realizar la correspondiente relación en la base de datos como "FOREIGN KEYS"

### **Tabla de Categorías.**

In [15]:
cat_fruta_df

  categoria
0     Fruta

In [16]:
cat_ensalada_df

                      categoria
0  Lechuga y ensalada preparada

In [17]:
cat_verdura_df

  categoria
0   Verdura

In [18]:
# crear una tabla conjunta de todas las categorias
cat_df = pd.concat([cat_fruta_df, cat_ensalada_df, cat_verdura_df])

#reseteamos el índice
cat_df = cat_df.reset_index(drop=True)

cat_df

                      categoria
0                         Fruta
1  Lechuga y ensalada preparada
2                       Verdura

In [19]:
# insertamos una columna de IDs llamada "categoria_id" como "PRIMARY KEYS"
cat_df.insert(0, 'categoria_id', range(1, len(cat_df)+1))

cat_df

   categoria_id                     categoria
0             1                         Fruta
1             2  Lechuga y ensalada preparada
2             3                       Verdura